@{
    ViewBag.Title = "Dashboard";
}
<div class="m-4">
    <h2 class="text-center">Dashboard</h2>
    <hr />

    <div class="dash-container">
        <div class="m-4 d-flex flex-row text-center">
            <div class="col-6">
                <div class="clock-container">
                </div>
            </div>
            <div class="col-6 bg-dark" style="height: 100px">
                b
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/Resources/Dashboard.css" />
<script src="~/Resources/Dashboard.js"></script>