@{
    ViewBag.Title = "Link Expired";
    Layout = "~/Views/Shared/_LayoutNoSession.cshtml";
}

<div class="container text-center mt-5">
    <div class="alert alert-warning" role="alert">
        <h1 class="display-4">Link Expired</h1>
        <p class="lead">The reset password link has expired. Please request a new link.</p>
    </div>
</div>