@{
    Layout = "~/Views/Shared/_LayoutNoSession.cshtml";
    ViewBag.Title = "NotFound";
}
<div class="container text-center mt-5">
    <div class="alert alert-warning" role="alert">
        <h1 class="display-4">Not Found</h1>
        <p class="lead">404 not Found</p>
    </div>
</div>

 